= render :partial => 'shared/errors', locals: { target: @recipe }

= render :partial => 'recipe'

= render :partial => 'recipes/ingredient'
= render :partial => 'recipes/direction'
%div.form-group
  = link_to  'done editing', user_recipe_path(@recipe), class: "form-control button-submit text-center"
