= form_for @user, html: {role: "form"} do |f|
  .form-group
    = f.text_field :first_name, {class: "form-control", placeholder: "first name"}
  .form-group
    = f.text_field :last_name, {class: "form-control", placeholder: "last name"}
  .form-group
    = f.text_field :email, {class: "form-control", placeholder: "email"}
  .form-group
    = f.text_field :password, {class: "form-control", placeholder: "password"}
    = f.submit "Create New User", class: "button button-submit"
